*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: #000000;
}

html{
    scroll-behavior: smooth;
  }

/* cabeça */

header{
    background-color: rgba(19, 19, 19, 0.726);
    height: 100px;
    width: 100vw;
}

menu{
    display: flex;
    justify-content: space-around ;
}

ul{
    display: flex ;
    gap: 80px;
    list-style: none;

}

ul > li> a{

    text-decoration: none;
    color: rgba(255, 255, 255, 0.253);
    font-size: large;

}

 li:hover{
    transform: scale(1.12);
    text-shadow: 1px 2px 2px black;
    cursor:default;
}
a:hover{
    color: white;
}
li{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 30px;
}


#nome{
    margin: 30px 0px 0px 0px;
    color: rgb(5, 27, 223);
    font-size: 25px;

}

#contato{
    width: 105px;
    height: 45px;
    margin: 20px 0px 0px 10px;
    border-radius: 15px;
    background-color: rgba(8, 8, 184, 0.932);
    border: none;
    font-weight: 600;
}

#contato>a{
    text-decoration: none;
    color: white;
}

#contato:hover{
    border: 1px solid white;
    transform: scale(1.10);
    box-shadow: 1px 2px 4px lightblue;
}

/* apresentacao */

.apresentacao{
    background: linear-gradient( #000000, #131212, #131313);

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
#imagem{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-top: -20%;
}

.sec_texto{
    margin-bottom: 90px;
    margin-right: 110px;
    margin-top: 4%;
}
.sec_texto>h1{
    font-size: 38px;
}
.sec_texto>img{
    width: 40px;
    height: 30px;
}

iframe{
    width: 300px;
    height: 450px;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
}


/* projetos */
.projetos{
    background: linear-gradient( #000000, #1f1e1e);
    height: 110vh;
}

#projetosH1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 3em;
    margin-top: 50px;
}

.container_projetos{
    margin-top: 8%;
}

.alinhamento{
    display: flex;
    justify-content: space-around;
}

#sobre_projetos{
    color: white;
    margin-top: 5px;
    font-size: medium;
}